{% set componentName = "wiloke-posts-elegant" %}

<div class="grid__item pos:relative {{componentName}}-tooltip-js" style="--width: {{ post.image.large.width }}; --height: {{ post.image.large.height }};">
  <a href="{{ post.link }} pos:absolute ins:0">
    <img src="{{ post.image.large.src | resize(500) }}" />
  </a>
  <div class="v:hidden op:0 pos:absolute z:9 w:282px p:20px bgc:#fff pe:none {{componentName}}-tooltip-content-js">
    <div class="d:flex ai:center">
      <div class="{{componentName}}-5-btnNext wiloke-5-btnNext cur:pointer w:40px h:40px d:flex jc:center ai:center td:none! bgc:#fff c:#000 bd:2px_solid_#000 mr:-2px"  style=" {{ colorPrimaryCssVariable }} ">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16" fill="none">
          <path class="wiloke-5-btnCalendarSvg" d="M4.625 9C4.8125 9 5 8.84375 5 8.625V7.375C5 7.1875 4.8125 7 4.625 7H3.375C3.15625 7 3 7.1875 3 7.375V8.625C3 8.84375 3.15625 9 3.375 9H4.625ZM8 8.625V7.375C8 7.1875 7.8125 7 7.625 7H6.375C6.15625 7 6 7.1875 6 7.375V8.625C6 8.84375 6.15625 9 6.375 9H7.625C7.8125 9 8 8.84375 8 8.625ZM11 8.625V7.375C11 7.1875 10.8125 7 10.625 7H9.375C9.15625 7 9 7.1875 9 7.375V8.625C9 8.84375 9.15625 9 9.375 9H10.625C10.8125 9 11 8.84375 11 8.625ZM8 11.625V10.375C8 10.1875 7.8125 10 7.625 10H6.375C6.15625 10 6 10.1875 6 10.375V11.625C6 11.8438 6.15625 12 6.375 12H7.625C7.8125 12 8 11.8438 8 11.625ZM5 11.625V10.375C5 10.1875 4.8125 10 4.625 10H3.375C3.15625 10 3 10.1875 3 10.375V11.625C3 11.8438 3.15625 12 3.375 12H4.625C4.8125 12 5 11.8438 5 11.625ZM11 11.625V10.375C11 10.1875 10.8125 10 10.625 10H9.375C9.15625 10 9 10.1875 9 10.375V11.625C9 11.8438 9.15625 12 9.375 12H10.625C10.8125 12 11 11.8438 11 11.625ZM14 3.5C14 2.6875 13.3125 2 12.5 2H11V0.375C11 0.1875 10.8125 0 10.625 0H9.375C9.15625 0 9 0.1875 9 0.375V2H5V0.375C5 0.1875 4.8125 0 4.625 0H3.375C3.15625 0 3 0.1875 3 0.375V2H1.5C0.65625 2 0 2.6875 0 3.5V14.5C0 15.3438 0.65625 16 1.5 16H12.5C13.3125 16 14 15.3438 14 14.5V3.5ZM12.5 14.3125C12.5 14.4375 12.4062 14.5 12.3125 14.5H1.6875C1.5625 14.5 1.5 14.4375 1.5 14.3125V5H12.5V14.3125Z" fill="black"/>
        </svg>
      </div>
      <div class="{{componentName}}-5__time wiloke-5-time h:40px bd:2px_solid_#000 d:inline-flex jc:center ai:center p:7px_9px dateTypo ff:Lora fs:italic fz:12px ta:center@+sm fw:500 trs:all_.3s c:#464646 c:#fff*group-hover trs:all_0.3s lh:1.5" style="{{ dateTypo }} {{ colorSecondaryCssVariable }}{{ colorPrimaryCssVariable }}">{{post.createDate|date("F j, Y")}}</div>
    </div>
    {% if post.title %}
      <h3 class="m:0! lh:0! pt:9px">
        <a href="{{post.link}}" class="{{ componentName }}-5__title titleTypo ff:Poppins td:none! fz:16px fw:400 lh:1.7 c:#000 op:0.7|h trs:0.3s lines-2" style="{{ titleTypo }}{{colorGray9CssVariable}}"> {{post.title | truncate(50)}} </a>
      </h3>
    {% endif %}
    <div class="d:flex ai:center fxw:wrap pt:12px">
      {% if post.categories[0] %}
      <div class=" d:flex ai:center ">
        <a href="{{post.categories[0].link}}" class="{{ componentName }}-5__category td:none! fz:14px ff:Poppins fz:14px tt:uppercase fw:500 c:#AB9871 lts:2px! lh:1.5 d:inline-block" style="{{ categoryTypo }}{{ colorPrimaryCssVariable }}">{{post.categories[0].name}}</a>
      </div>
      {% endif %}
      <div class="m:0_10px ff:Poppins fz:14px fw:500 c:#D2D2D2">—</div>
      <div class=" m:0! d:flex ai:center">
        <a href="{{post.link}}" class="{{ componentName }}-5__comments commentTypo ff:Poppins fz:14px fw:500 c:#4E4E4E mr:3px td:none! d:block" style="{{ commentTypo }} {{ colorSecondaryCssVariable }}">
          {{post.comments|length}}
        </a>
        <span class="{{ componentName }}-5__comments commentTypo ff:Lora fz:14px fw:500 fs:italic c:#737373 d:block" style="{{ commentTypo }} {{ colorSecondaryCssVariable }} ">Comments</span>
      </div>
    </div>

  </div>
</div>
