{% set componentName = "wiloke-posts-elegant" %}
{% extends "./abstracts/layout.twig" %}
{% set headingStyle = "font-size: 40px; font-weight: 600; text-align: center; margin-bottom: 50px;" %}

{% block body %}

<section class="demo-section">
  <h2 style="{{ headingStyle }}">Post Elegant 1</h2>
  <div class="container">
    {% include "./Views/section.twig" with { data: variant1 }  %}
  </div>
</section>

<section class="demo-section">
  <h2 style="{{ headingStyle }}">Post Elegant 2</h2>
  <div class="container">
    {% include "./Views/section.twig" with { data: variant2 }  %}
  </div>
</section>

<section class="demo-section">
  <h2 style="{{ headingStyle }}">Post Elegant 3</h2>
  <div class="container">
    {% include "./Views/section.twig" with { data: variant3 }  %}
  </div>
</section>
<section class="demo-section">
  <h2 style="{{ headingStyle }}">Post Elegant 4</h2>
  <div class="container">
    {% include "./Views/section.twig" with { data: variant4 }  %}
  </div>
</section>

<section class="demo-section">
  <h2 style="{{ headingStyle }}">Post Elegant 5</h2>
  <div class="container">
    {% include "./Views/section.twig" with { data: variant5 }  %}
  </div>
</section>
{% endblock %}
